@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: Montserrat-Black;
    src: url(fonts/Montserrat-Black.ttf);
}
body{
    font-family: "Montserrat-Black";
}