header{
    position: sticky;
}
@font-face{
    src: url(fonts/PoetsenOne-Regular.ttf);
    font-family: Poetsen One;
}
@font-face{
    src: url(fonts/DMSerifDisplay-Regular.ttf);
    font-family: serif-regular;
}
@font-face{
    src: url(fonts/DMSerifDisplay-Italic.ttf);
    font-family: serif-italic;
}
h1{
    font-family: "Poetsen One";
}

label{
    font-family: "Poetsen One";
}

button{
    font-family: "Poetsen One";
    cursor: pointer;
}

body{
    background-image: url(images/busycity.jpg);
    font-family: "Poetsen One";
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
a{
    color: rgb(0, 110, 255);
}
a:hover{
    font-size: 1.1rem;
    color: hsl(214, 100%, 75%);
}
li{
    display: inline;
}
#counter{
    font-size: 10rem;
}
.buttons{
    font-size: 3rem;
    background-color: lightblue;
}
::selection{
    color: rgb(47, 255, 47);
    background-color: black;
}
h1::first-letter{
    font-size: 3rem;
    font-style: italic;
}
h1{
    font-family: "serif-italic";
}
li::before{
    content: ⚫ ;
}
.dropdown{
    display: inline;
    width: fit-content;
}
.dropdown button{
    border-radius: 6px;
}
.dropdown a{
    display: block;
    text-decoration: none;
    padding: 5px;
}
.dropdown button:hover{
    cursor: pointer;
}
.dropdown .content{
    display: none;
    background-color: hsl(0, 0%, 50%);
    position: absolute;
    text-align: center;
    width: 150px;
    box-shadow: 26px 26px 56px rgb(0, 255, 255);
}
.dropdown:hover .content{
    display: block;
    border-radius: 10px;
}
.textformats{
    display: inline-block;
    background-color: aliceblue;
}
#square{
    width: 500px;
    height: 500px;
    border: 0.5rem solid #333;
    border-radius: 10px;
    transition: all 0.4s ease;
}
input{
    border-radius: 5px;
}
#tooCool{
    text-decoration: none;
    color: black;
}
#tooCool:hover{
    font-size: 0.835rem;
}
#dialog{
    height: 11rem;
    width: 13.2rem;
}
