body{
    font-family: monospace;
    font-weight: bold;
    background-image: url(/images/busycity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.clock{
    font-size: 6.5rem;
    transition: all 0.5 ease;
    backdrop-filter: blur(20px);
}
.clockContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
::selection{
    color: rgb(47, 255, 47);
    background-color: black;
}
.dropdown{
    display: inline;
    width: fit-content;
}
.dropdown button{
    border-radius: 6px;
}
.dropdown a{
    display: block;
    text-decoration: none;
    padding: 5px;
}
.dropdown button:hover{
    cursor: pointer;
}
.dropdown .content{
    display: none;
    background-color: hsl(0, 0%, 50%);
    position: absolute;
    text-align: center;
    width: 150px;
    box-shadow: 26px 26px 56px rgb(0, 255, 255);
}
.dropdown:hover .content{
    display: block;
    border-radius: 10px;
}
a{
    color: rgb(0, 110, 255);
}
a:hover{
    font-size: 1.1rem;
    color: hsl(214, 100%, 75%);
}